/*
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License
*/

body {
    margin: 0px;
    padding: 0;
    /* background: url(../img/img01.jpg) repeat-x left top; */
    background: url(../img/casa2.jpg) no-repeat left top;
    background-color:#B0C4DE;
    background-position: 50% 8%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #464646;
}
div.pesquisa{
    width: 1000px;
    height: 60px;
    font-size: 25px;
    border-radius: 10px;
    padding: 5px;
    /*float: right;*/
}
div.pesquisa label{
    font-size: 25px;
    font-weight: normal;
    color: #fff;
    text-shadow: 2px 2px #000;
    margin-left: 30px;
}
div.pesquisa input[type=search]{
    width: 350px;
    height: 35px;
    font-size: 22px;
}
div.pesquisa input[type=submit]{
    width: 40px;
    height: 50px;
}

form#formulario{
    padding: 20px;
    background: #B0C4DE;
}

form#formulario input[type=text],
                input[type=password],
                input[type=date],
                input[type=radio],
                input[type=email],
                select{
    padding: 2px;
    font-size: 16px;
    line-height: 40px;
    border: 1px solid;
    color:#999;
    width: 450px;
}

form#formulario label.error{
    color: red;
    display: block;
}

form#formulario > label, #formulario > input[type=submit]{
    display: block;
}

form#formulario label{
    font-size: 14px;
    color: #333;
    margin-top: 20px;
}

form#formulario input[type=submit]{
    padding: 20px;
    font-size: 14px;
    margin-top: 20px;
}

table#visita{
    width: 250px;
}
table#visita tr#cabecalho{
    color: #2D5298;
    font-weight: bold;
    font-size: 10px;
}
table#visita td{
    background-color: #fff;
    height: 15px;
    width: 25px;
    text-align: center;
/*    border: 1px solid #B0C4DE;*/
}
table#visita td:hover{
    cursor: grab;
    border: 2px solid #000;
}

table#pesquisa{
    background-color: #fff;
    opacity: 0.9;
    padding: 10px;
    margin: 10px;
    min-width: 900px;
}

table#pesquisa tr:hover{
    background-color: #ddd;
    cursor: grab;
}

h1, h2, h3 {
    margin: 0;
    font-weight: normal;
    color: #1E3F7F;
}

h1 { font-size: 44px; }

h2 { font-size: 18px; }

h3 { }

p, ul, ol {
    margin-top: 0;
    line-height: 240%;
    text-align: justify;
}

ul, ol { }

blockquote { }

a:hover { text-decoration: none; }

a img {
    border: none;
}

img.left {
    float: left;
    margin: 7px 30px 0 0;
}

img.right {
    float: right;
    margin: 7px 0 0 30px;
}

hr { display: none; }

.list1 {
}

.list1 li {
    float: left;
    line-height: normal;
}

.list1 li img {
    margin: 0 30px 30px 0;
}

.list1 li.alt img {
    margin-right: 0;
}

#wrapper {
}

/* Header */

#header {
    width: 1000px;
    height: 130px;
    margin: 0 auto;
}

nav{
    background-color: #2D5298;
    opacity: 0.8;
}
/* Menu */

#menu {
    float: left;
    width: 900px;
    height: 44px;
}

#menu ul {
    margin: 0;
    padding: 0px 0px 0px 0px;
    list-style: none;
    line-height: normal;
}

#menu li {
    display: block;
    float: left;
}

#menu a {
    display: block;
    float: left;
    height: 34px;
    margin-right: 1px;
    padding: 10px 30px 0px 30px;
    letter-spacing: -1px;
    text-decoration: none;
    text-align: center;
    text-transform: lowercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #FFFFFF;
}

#menu a:hover { 
    text-decoration: none;
}

#menu .current_page_item a {
    background: #2D5298;
    border-right: 1px solid gray;
}
#menu .current_page_item a:hover {
    background-color: #fff;
    color: #2D5298;
}

#menu .first {
}

/** LOGO */

#logo {
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    padding: 60px 0px 20px 0px;
    text-transform: lowercase;
}

#logo h1, #logo h2 {
    margin: 0px;
    line-height: normal;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #FFFFFF;
}

#logo h2 {
    color: #FFFFFF;
}

#logo h1 a {
    color: #FFFFFF;
}

#logo h1 {
    /* padding-top: 80px; */
    font-size: 52px;
    font-weight: normal;
    font-style: italic;
    color: #FFFFFF;
}

#logo a {
    width: 400px;
    text-decoration: none;
    color: #FFFFFF;
    float: left;
}

div#mapa{
    width: 940px;
    height: 350px;
    margin: 30px;
    border: 3px solid #fff;
}
.marcadorCasa a{
    text-decoration: none;
}
.marcadorAp a{
    text-decoration: none;
}

#search {
    float: right;
}

#search form {
    float: right;
    margin: 0;
    padding: 4px 0px 0 0;
}

#search fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

#search input {
    float: left;
    background-color: #fff;
    font: 12px Georgia, "Times New Roman", Times, serif;
}

#search-text {
    width: 213px;
    height: 28px;
    padding: 6px 0 0 7px;
    border: none;
    color: #000000;
}

#search-submit {
    width: 82px;
    height: 28px;
    margin-left: 10px;
    padding: 0px 5px;
    border: none;
    text-indent: -9999px;
    color: #FFFFFF;
}

/* Page */

#page {
    width: 1000px;
    margin: 0px auto 20px auto;
    padding: 0px;
    margin-top: 100px;
}

#banner {
    padding-bottom: 20px;
}

/* Content */

#content {
    background-color: #fff;
    float: right;
    width: 560px;
    margin-right: 16px;
    padding: 40px 30px 0px 20px;
    border-right: 2px solid gray;
    border-top: 2px solid gray;
}

main{
    min-height: 500px;
}

div#etapas{
    width: 812px;
    height: 70px;
    background-color: #2D5298;
    margin-top: 10px;
    font-size: 20px;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
}
div#etapas > .etapa {
    float: left;
    margin: 1px;
    width: 200px;
    min-height: 65px;
    text-align: center;
    position: relative;
    border-right: 1px solid #fff;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
}
div#etapas > .etapa > a{
    color: #fff;
    text-decoration: none;
    position: absolute;               /* 2 */
    top: 50%;                         /* 3 */
    transform: translate(-50%, -50%);   /* 4 */
    margin-left: 5px;
}
div#etapas > .etapa > a > label{
    position: absolute;               /* 2 */
    top: 50%;                         /* 3 */
    transform: translate(-120%, -50%);   /* 4 */
    font-size: 50px;
    float: left;
}

div#conteudo{
    margin-top: 20px;
}

.zoom {
    display:inline-block;
    position: relative;
}

/* magnifying glass icon */
.zoom:after {
    content:'';
    display:block; 
    width:33px; 
    height:33px; 
    position:absolute; 
    top:0;
    right:0;
    background:url(../img/zoom.png);
}
.zoom img {
    display: block;
}
.zoom img::selection { background-color: transparent; }
div#informacoes{
    padding: 10px;
    background-color: #fff;
    border: 2px solid gray;
    min-height: 276px;
    width: 400px;
    margin-left: 400px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#janela{
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 400px;
    min-height: 300px;
    border: 2px solid gray;
}

/* Post */

.post {
    margin-bottom: 45px;
    padding-bottom: 30px;
    border-bottom: 1px solid #E0E0E0;
}

.post .title {
    height: 44px;
}

.post .title a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 30px;
    color: #1E3F7F;
}

.post .date {
    display: inline-block;
    background: #2D5298;
    margin: 0px;
    padding: 0px 10px;
    color: #FFFFFF;
}

.post .meta {
    margin-left: 2px;
    padding: 4px 30px 2px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 10px;
    color: #66665E;
}

.post .meta span {
    margin: 0px;
}

.post .meta a {
    padding: 6px 10px 5px 10px;
    background: #2D5298;
    text-decoration: none;
    color: #FFFFFF;
}

.post .entry {
    padding: 10px 0px 20px 0px;
}

.post .links {
    height: 18px;
    margin: 0px 0px 4px 0px; 
    padding: 6px 10px 5px 10px;
    background: #1E3F7F ;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
}

.post .comments {
    display: block;
    width: 120px;
    height: 18px;
    margin: 0px; 
    padding: 3px 0px 0px 40px;
    background: #90BF35;
    border: 1px solid #5F817E;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
}

/* Sidebar */

#sidebar {
    background-color: #fff;
    margin-left: 20px;
    float: left;
    width: 320px;
    padding: 40px 0px 0px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-left: 2px solid gray;
    border-top: 2px solid gray;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
}

#sidebar li {
    margin-bottom: 30px;
    padding: 0 0 10px 0px;
}

#sidebar li ul {
    margin: 0px 0px;
}

#sidebar li li {
    margin: 0px 0px 0px 10px;
    padding: 10px 0px 10px 0px;
    border-bottom: #E0E0E0 solid 1px;
}

#sidebar li li a {
    font-weight: normal;
}

#sidebar li li a:hover {
    color: #666666;
}

#sidebar p {
    margin: 0;
    padding: 0px 14px;
}

#sidebar li h2 {
    height: 30px;
    margin: 0 0 10px 0px;
    padding: 6px 0 2px 0px;
    font-size: 18px;
    font-weight: normal;
    color: #1E3F7F;
}


#sidebar p {
    line-height: 200%;
}

#sidebar a {
    text-align: left;
    text-decoration: none;
    color: #464646;
}

/* Calendar */

#calendar {
}

#calendar caption {
    padding-bottom: 5px;
    font-weight: bold;
}

#calendar table {
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid #24130F;
    border-left: 1px solid #24130F;
    border-right: 1px solid #24130F;
}

#calendar thead th {
    padding: 5px 0;
    text-align: center;
    border-top: 1px solid #24130F;
    border-left: 1px solid #24130F;
    background: #24130F;
}

#calendar tbody td {
    padding: 5px 0;
    text-align: center;
    border-top: 1px solid #24130F;
    border-left: 1px solid #24130F;
    border-bottom: 1px solid #24130F;
}

#calendar tfoot td {
    padding: 5px;
    border-left: 1px solid #24130F;
    border-bottom: 1px solid #24130F;
}

#calendar tfoot #next {
    border-top: 1px solid #24130F;
    text-align: right;
}

#calendar tfoot #prev {
    border-top: 1px solid #24130F;
}

#calendar .pad {
    border-bottom: 1px solid #24130F;
}

#calendar #today {
    background: #24130F;
}

/* Footer */

#footer {
    width: 920px;
    height: 60px;
    margin: 0 auto;
    padding: 0;
}

#footer-bgcontent {
    height: 110px;
    color: #fff;
    text-decoration:none;
    background-color: #2D5298;
    /* background: url(../img/img02.gif) repeat-x left top; */
}

#footer p {
    margin: 0;
    padding: 28px 0px 0px 0px;
    text-align: center;
    line-height: normal;
    font-size: 12px;
}

#footer a {
}

.jqmWindow {
    display: none;

    position: fixed;
    top: 17%;
    left: 50%;

    margin-left: -300px;
    width: 600px;

    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

.jqmOverlay { background-color: #000; }