SetEnv APPLICATION_ENV desenvolvimento
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
RewriteRule ^((.+/?)*)ckeditor/(.*) js/ckeditor$2 [L,NC]

#AddType application/x-javascript .js
#AddType image/gif .gif
#AddType image/jpg .jpg
#AddType image/png .png

<FilesMatch "\.(ckeditor|ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf|html|htm|woff)$">
        Header set Access-Control-Allow-Origin *
</filesMatch>

# cache dos arquivos abaixo só expira em 480 semanas
<filesMatch "\.(ckeditor|ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf|html|htm|woff)$">
Header set Cache-Control "max-age=290304000, public"
Header set Expires "Sun, 10 Aug 2025 20:00:00 GMT-3"
Header unset ETag
FileETag None
</filesMatch>

#ExpiresActive On
#ExpiresByType image/png "now plus 365 days"
#ExpiresByType image/jpeg "now plus 365 days"
#ExpiresByType image/jpg "now plus 365 days"
#ExpiresByType image/gif "now plus 365 days"
#ExpiresByType text/css "now plus 365 days"

#Server	        Apache
#Last-Modified	Wed, 01 Aug 2012 17:00:00 GMT-3
#Etag	        "etag-hippershopping"
#Accept-Ranges	bytes
#Content-Length	257981
#Content-Type	image/jpeg
#Date	        Mon, 31 Jan 2011 18:56:41 GMT-3

# força compressão gzip dos arquivos abaixo
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/x-javascript
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
